/* FONTS */

@font-face {
  font-family: 'aukera';
  src: url('assets/font/aukera/aukera-Regular.eot');
  src: url('assets/font/aukera/aukera-Regular.eot') format('embedded-opentype'),
      url('assets/font/aukera/aukera-Regular.woff2') format('woff2'),
      url('assets/font/aukera/aukera-Regular.woff') format('woff'),
      url('assets/font/aukera/aukera-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blocus';
  src: url('assets/font/blocus/Blocus-Regular.eot');
  src: url('assets/font/blocus/Blocus-Regular.eot') format('embedded-opentype'),
      url('assets/font/blocus/Blocus-Regular.woff2') format('woff2'),
      url('assets/font/blocus/Blocus-Regular.woff') format('woff'),
      url('assets/font/blocus/Blocus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* BASE */

*{
  margin:0;
  padding: 0;
  border : 0px;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* INTRO */

.starter {
  text-align: center;
  font-size: 16px;
  width : 400px;
  height : 100px;
  background-color: black;
  color : white;
  position : absolute;
  top : calc(50% - 100px);
  right : calc(50% - 200px);
  cursor: pointer;
  font-family: 'aukera';
  border-radius: 50%;
  border: 2px solid white;
  z-index: 20;
}

.starter:hover {
  background-color: red;
}


.intro {
  position : absolute;
  width : 100vw;
  height : 100vh;
  z-index: 10;
  top:0;
  left: 0;
  box-sizing: content-box;
}

/* ELEMENTS */

.road{
  position : absolute;
  width : 100vw;
  height : 100vh;
  z-index: 15;
  top:0;
  left: 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-37%, -35%) scale(0.7);
}

#road-video{
  height: 30%;
}

.step1 {
 visibility: hidden;
}

.step2 {
  visibility: hidden;
}

.step3 {
  visibility: hidden;
}

.head {
  border:2px solid white;
  width: 30%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 70%;
}