/* FONTS */

@font-face {
  font-family: 'aukera';
  src: url('assets/font/aukera/aukera-Regular.eot');
  src: url('assets/font/aukera/aukera-Regular.eot') format('embedded-opentype'),
      url('assets/font/aukera/aukera-Regular.woff2') format('woff2'),
      url('assets/font/aukera/aukera-Regular.woff') format('woff'),
      url('assets/font/aukera/aukera-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blocus';
  src: url('assets/font/blocus/Blocus-Regular.eot');
  src: url('assets/font/blocus/Blocus-Regular.eot') format('embedded-opentype'),
      url('assets/font/blocus/Blocus-Regular.woff2') format('woff2'),
      url('assets/font/blocus/Blocus-Regular.woff') format('woff'),
      url('assets/font/blocus/Blocus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* BASE */

*{
  margin:0;
  padding: 0;
  border : 0px;
}

body {
  background-color: black;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

html {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* INTRO */

.starter {
  text-align: center;
  font-size: 16px;
  width : 400px;
  height : 100px;
  background-color: black;
  color : white;
  position : absolute;
  top : calc(50% - 100px);
  right : calc(50% - 200px);
  cursor: pointer;
  font-family: 'aukera';
  border-radius: 50%;
  border: 2px solid white;
  z-index: 20;
}

.starter:hover {
  background-color: red;
}


.intro {
  position : absolute;
  width : 100vw;
  height : 100vh;
  z-index: 10;
  top:0;
  left: 0;
  box-sizing: content-box;
}

.text1, .text2, .phonopaper {
  display: none;
}

/* ELEMENTS */

.road{
  position : absolute;
  width : 100vw;
  height : 100vh;
  z-index: 15;
  top:0;
  left: 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-36%, -34%) scale(0.8);
}

#road-video{
  height: 30%;
}

.step1 {
 visibility: hidden;
}

.step2 {
  visibility: hidden;
}

.step3 {
  visibility: hidden;
}

.head {
  border:2px solid white;
  width: 30%;
  height: 40%;
  position: absolute;
  top: 4%;
  left: 67.95%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.head img {
  width: 65%;
  transform: rotate(-90deg);
  cursor: pointer;
}
.head .span1 {
  border:2px solid white;
  right: 90%;
  width: 9.5%;
  position: absolute;
}
.head .span2 {
  border:2px solid white;
  bottom: 73%;
  height: 26.5%;
  position: absolute;
}
.head .span3 {
  border:2px solid white;
  top: 69%;
  height: 30%;
  position: absolute;
}
.head .span4 {
  border:2px solid white;
  left: 91%;
  width:8.5%;
  position: absolute;
}

.trunk {
  border:2px solid white;
  width: 20%;
  height: 68%;
  position: absolute;
  top: 4%;
  left: 47.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.trunk .span1 {
  border:2px solid white;
  top: 85%;
  height: 14.5%;
  position: absolute;
}
.trunk .span2 {
  border:2px solid white;
  bottom: 90%;
  height: 9.5%;
  position: absolute;
}
.trunk .span3 {
  border:2px solid white;
  right: 79%;
  width: 20%;
  position: absolute;
}
.trunk .span4 {
  border:2px solid white;
  left: 81%;
  width: 18%;
  position: absolute;

}
.trunk img {
  width: 160%;
  cursor: pointer;
}

.leg1 {

  border:2px solid white;
  width: 20%;
  height: 68%;
  position: absolute;
  z-index: 16;
  top: 4%;
  left: 27.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leg1 img {
  width: 70%;
  transform: rotate(180deg);
  padding-top: 50%;
  cursor: pointer;
}
.leg1 .span1 {
  border:2px solid white;
  top: 0%;
  height: 9%;
  left: 50%;
  position: absolute;
}
.leg1 .span2 {
  border:2px solid white;
  bottom: 0%;
  height: 26%;
  left: 47%;
  position: absolute;
}
.leg1 .span3 {
  border:2px solid white;
  bottom: 37%;
  width: 31%;
  right: 68%;
  position: absolute;
}

.leg2 {
  border-top:2px solid white;
  border-left:2px solid white;
  border-bottom:2px solid white;
  border-right: 3px solid black;
  width: 25.6%;
  height: 25%;
  z-index: 17;
  position: absolute;
  top: 47%;
  left: 2%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leg2 img {
  width: 60%;
  transform: rotate(90deg);
  padding-bottom: 20%;
  cursor: pointer;
}

.leg2 .span1 {
  border:2px solid white;
  top: 0;
  height: 33%;
  left: 61%;
  position: absolute;
}
.leg2 .span2 {
  border:2px solid white;
  bottom: 47%;
  width: 15%;
  right: 84%;
  position: absolute;
}
.leg2 .span3 {
  border:2px solid white;
  bottom: 52%;
  width: 58%;
  right: -79%;
  position: absolute;
}

.numberplate {
  border:2px solid white;
  width:25.6%;
  height: 15%;
  position: absolute;
  z-index: 20;
  top: 31.7%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.numberplate img {
  width: 90%;
  padding-left: 10%;
  cursor: pointer;
}

.foot1 {
  border:2px solid white;
  width: 15%;
  height: 27.7%;
  position: absolute;
  top: 44.3%;
  left: 67.95%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.foot1 img {
  width: 70%;
  z-index: 30;
  transform: rotate(-180deg);
  cursor: pointer;
}
.foot1 .span1 {
  border:2px solid white;
  top: 70%;
  height: 29%;
  left:65%;
  position: absolute;
}
.foot1 .span2 {
  border:2px solid white;
  bottom: 70%;
  width: 30%;
  left: 69%;
  position: absolute;
}
.foot1 .span3 {
  border:2px solid white;
  bottom: 70%;
  width: 18%;
  right: 81%;
  position: absolute;
}

.foot2 {
  border:2px solid white;
  width: 14.95%;
  height: 27.7%;
  position: absolute;
  top: 44.3%;
  left: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.foot2 img {
  width: 70%;
  z-index: 30;
  cursor: pointer;
}

.foot2 .span1 {
  border:2px solid white;
  top: 0%;
  height: 29%;
  left: 34%;
  position: absolute;
}
.foot2 .span2 {
  border:2px solid white;
  bottom: 28%;
  width: 17%;
  left: 82%;
  position: absolute;
}
.foot2 .span3 {
  border:2px solid white;
  bottom: 29%;
  width: 30%;
  right: 69%;
  position: absolute;
}

.arm1 {
  border:2px solid white;
  width: 33%;
  height: 25%;
  position: absolute;
  top: 72.3%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arm1 img {
  width: 55%;
  transform: rotate(-90deg);
  cursor: pointer;
}

.arm1 .span1 {
  border:2px solid white;
  top: 73%;
  height: 25%;
  left: 88%;
  position: absolute;
}
.arm1 .span2 {
  border:2px solid white;
  bottom: 50%;
  width: 7%;
  right: 92%;
  position: absolute;
}
.arm1 .span3 {
  border:2px solid white;
  bottom: 77%;
  height: 22%;
  right: 50%;
  position: absolute;
}

.arm2 {
  border:2px solid white;
  width: 32.7%;
  height: 25%;
  position: absolute;
  top: 72.3%; 
  left:35.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arm2 img {
  width: 55%;
  transform: rotate(90deg);
  cursor: pointer;
}

.arm2 .span1 {
  border:2px solid white;
  top: 73%;
  height: 25%;
  left: 50%;
  position: absolute;
}
.arm2 .span2 {
  border:2px solid white;
  bottom: 50%;
  width: 7%;
  right: 0%;
  position: absolute;
}
.arm2 .span3 {
  border:2px solid white;
  bottom: 77%;
  height: 22%;
  right: 88%;
  position: absolute;
  
}

.sticker {
  border:2px solid white;
  width: 14.95%;
  height: 25%;
  position: absolute;
  top: 72.3%; 
  left: 67.95%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sticker img {
  width: 120%;
  padding-left: 20%;
  cursor: pointer;
}

/* LEVIER */

.gear-lever {
  width: 14.95%;
  height: 25%;
  position: absolute;
  top: 72.3%; 
  left:83.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.gear-lever .knob {
  height: 20%;
  position: absolute;
  top: 42%; 
  left:25%;
}
.gear-lever img {
  width: 50%;
  
}

.gear-lever div {
  width: 44%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'aukera';
  font-size: 20px;
  color: white;
  margin-block: 10px;
  cursor: pointer;
}

.gear-lever p {
  cursor : pointer;
}